{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Words{% endblock %}

{% block page_content %}
<div class="page-header">
    <H1> IMPORT </H1>
</div>
<!--<H3>Import url</H3>-->
<form action="/importurl" method="POST">
    <input type="url" name="url"> <p> </p>
    <button type="submit" name="importurl" class="btn btn-success" value="importrul">Import URL</button>
</form>

<br>

<div>
<!--    <H3>Import a file</H3>-->
    <form enctype="multipart/form-data" action="/importfile" method="POST">
        <input type="file" name="filename"> <p> </p>
        <button type="submit" name="importfile" class="btn btn-success" value="import file">Import File</button>
    </form>
</div>

<br>

<div>
<!--    <H3>Import my word</H3>-->
    <form action="/importmyword" method="POST">
        <button type="submit" name="importmyword" class="btn btn-success" value="import my word">Import MyWord</button>
    </form>

</div>

<br>

<div>
<!--    <H3>Export my word</H3>-->
    <form action="/exportmyword" method="POST">
        <button type="submit" name="exportmyword" class="btn btn-success" value="export my word">Export MyWord</button>
    </form>
</div>

<br>

<div>
<!--    <H3>Import batch initially</H3>-->
    {{wtf.quick_form(form)}}
</div>
{% endblock %}
