{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Words{% endblock %}

{% block page_content %}
<div class="page-header">
    <H1> Import </H1>
</div>
<H3>Import url</H3>
<form action="/importurl" method="POST">
    <input type="url" name="url">
    <button type="submit" name="importurl" class="btn btn-success" value="importrul">Import url</button>
</form>

<div>
    <H3>Import a file</H3>
    <form enctype="multipart/form-data" action="/importfile" method="POST">
        <input type="file" name="filename">
        <br>
        <button type="submit" name="importfile" class="btn btn-success" value="import file">Import file</button>
    </form>
</div>

<div>
    <H3>Import srt</H3>
    <form enctype="multipart/form-data" action="/importsrt" method="POST">
        <input type="file" name="filename">
        <br>
        <button type="submit" name="importsrt" class="btn btn-success" value="import srt">Import srt</button>
    </form>
</div>

<div>
    <H3>Import my word</H3>
    <form action="/importmyword" method="POST">
        <button type="submit" name="importmyword" class="btn btn-success" value="import my word">Import my word</button>
    </form>

</div>


<div>
    <H3>Export my word</H3>
    <form action="/exportmyword" method="POST">
        <button type="submit" name="exportmyword" class="btn btn-success" value="export my word">Export my word</button>
    </form>
</div>

<div>
    <H3>Import batch initially</H3>
    {{wtf.quick_form(form)}}
</div>
{% endblock %}
