{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Words{% endblock %}

<body>
{% block page_content %}
{{ wtf.quick_form(form) }}
<div class="page-header">
    <div class="w3-container w3-content  w3-padding-64 w3-light-grey w3-card" style="max-width:1200px" id="Sentences">
        <H1 class="w3-wide"> {{ word }} </H1>
        <h4 class="w3-wide">{{ translation['chinese'][0] }}</h4>
        <br>
        <audio controls autoplay>
            <source src={{ translation['pronunciation'][0]['audio'] }} type="audio/mpeg">
        </audio>
        <br><br>
        {%for s in sentences%}
        <p class="w3-justify">{{s[0]}}</p>
        <p class="w3-opacity">{{s[1]}}</p>
        {%endfor%}
    </div>
</div>

{% endblock %}
</body>