{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Words{% endblock %}

<body>
{% block page_content %}

<div class="page-header">
    <div class="w3-container w3-content  w3-padding-64 w3-light-grey w3-card" style="max-width:1200px" id="Sentences">
        <H1 class="w3-wide">Update article text!</H1>
    </div>
</div>

{% block content_main %}
<div class="content-section">
    {{ wtf.quick_form(form) }}
</div>
{% endblock content_main %}

{% endblock %}
</body>